@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand&display=swap')

// Base
*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    font-family: 'Quicksand', sans-serif

button
    cursor: pointer

a
    color: #4457eb

input:focus
    outline: 0


// Custom
.header-wrap
    border-bottom: 1px solid #eaeaea
    padding: 5px 15px
   
.logo-text
    color: #444
    text-align: center
    letter-spacing: 2px
    font-size: 1.8rem
    text-transform: uppercase
    font-family: 'Fredoka One', cursive

.form-wrap
    width: 500px
    padding: 2rem
    margin: 20vh auto
    border-radius: 3px
    border: 1px solid #eaeaea
    transition: border-color .3s
    &:hover
        border-color: #444

.form-group
   
    >label
        display: block
        margin-bottom: 10px
    >input
        width: 100%
        border: none
        padding: 10px 12px
        font-family: inherit
        border-bottom: 1px solid #eaeaea
        transition: border-color .3s
        &:focus
            border-bottom-color: #444
    


.alerts 
    width: 500px
    margin: auto
    padding: 15px   
    font-size: 16px
    &.success 
        color: #11a111
    &.error
        color: #e34c44



.loading-wait
    top: -100px
    left: 50%
    transform: translate(-50%,-50%)
    position: absolute

.loading-wait span
    @extend .logo-text
    opacity: 0
    color: #fff
    font-size: 2rem
    width: 80px
    height: 80px
    border-radius: 50%
    background-color: rgba(0,0,0,.2)  
    display: flex
    align-items: center
    justify-content: center
    transition: opacity .4s
    -webkit-animation: spin 2s linear infinite
    -moz-animation: spin 2s linear infinite
    animation: spin 2s linear infinite
    &.iVisible
        opacity: 1

@-moz-keyframes spin 
    100%
        -moz-transform: rotate(360deg)

@-webkit-keyframes spin
    100%
        -webkit-transform: rotate(360deg)

@keyframes spin 
    100%
        -webkit-transform: rotate(360deg)
        transform: rotate(360deg)


.copyrights
    bottom: 20px
    width: 100%
    text-align: center
    position: absolute
    >span
        padding: 5px 10px
        border-radius: 3px
        display: inline-block
        background-color: rgba(255,255,255,.5)
    